   external_url "https://git.bog.rocks"

   nginx['redirect_http_to_https'] = true
   nginx['ssl_certificate'] = "/etc/gitlab/ssl/git.bog.rocks.crt"
   nginx['ssl_certificate_key'] = "/etc/gitlab/ssl/git.bog.rocks.key"
